
/* Estilo para o link do menu */
.navbar-nav .nav-item .nav-link {
    color: #000; /* Cor padrão do texto */
    transition: color 0.3s; /* Efeito de transição suave na cor */
  }
  
  /* Estilo para o bloco azul ao passar o mouse sobre o menu */
  .navbar-nav .nav-item:hover {
    background-color: #0762d9; /* Cor de fundo azul durante o hover */
    border-radius: 10px; /* Borda arredondada */
  
  }
  
  /* Estilo para o link do menu no hover */
  .navbar-nav .nav-item .nav-link:hover {
    color: #fff; /* Cor branca durante o hover */
  }
  
  .menu-item {
    font-size: 15px; /* Tamanho de fonte desejado */
    font-family: 'Roboto', sans-serif;
  }
  
  header {
    position: relative;
  }
  
  .navbar {
    z-index: 1; /* Coloca o menu sobre a imagem */
  }
  
  /* Estilo para o botão de pesquisa */
  .form-search {
    margin-right: 5px; /* Adicione espaço à direita para separar do botão de login */
  }
  /* Estilo para o botão de pesquisa */
  .hidden {
  display: none;
  }
  
  /* Estilo para o botão de login */
  .form-login {
    background-color: #007BFF; /* Cor de fundo azul */
    color: #fff; /* Cor do texto branco */
    border: none; /* Remova a borda do botão */
  
  }
  .form-cadastro{
  margin-right: 5px; /* Adiciona espaço à direita para separar do botão de login */
  
  
  }
  
  /* Estilo para o ícone de lupa */
  .form-icon {
    color: #fff; /* Cor do ícone branco */
  }
  
  /* Estilos para o botão responsivo */
  .btn-responsive {
    padding: 10px 20px;
    font-size: 18px; /* Tamanho da fonte (ajuste conforme necessário) */
    min-width: 10px; /* Largura mínima do botão (ajuste conforme necessário) */
    white-space: nowrap; /* Impede a quebra de texto em várias linhas */
    border-radius: 20px;
  
  }
  