@import url(css/login/login.css);
:root{
  --bg-cor:150deg,#0762d9,  #3e236b;
  --cor-titulo: #40578c;
  --cor-botao:   #4c66a5;
}

body{
  background:linear-gradient(var(--bg-cor));
  height: 100vh;
  box-sizing: border-box;
}

.corpo{
  background-color:#1518c0;
}

/* Estilo para o link do menu */
.navbar-nav .nav-item .nav-link {
  color: #000; /* Cor padrão do texto */
  transition: color 0.3s; /* Efeito de transição suave na cor */
}

/* Estilo para o bloco azul ao passar o mouse sobre o menu */
.navbar-nav .nav-item:hover {
  background-color: #0762d9; /* Cor de fundo azul durante o hover */
  border-radius: 10px; /* Borda arredondada */

}

/* Estilo para o link do menu no hover */
.navbar-nav .nav-item .nav-link:hover {
  color: #fff; /* Cor branca durante o hover */
}

.menu-item {
  font-size: 15px; /* Tamanho de fonte desejado */
  font-family: 'Roboto', sans-serif;


}

header {
  position: relative;
}

.navbar {
  z-index: 1; /* Coloca o menu sobre a imagem */
}

#intro-example.bg-image2 {
  background-image: url('/img/perso2.jpg');
  background-size: 100%; /* Faz a imagem cobrir todo o elemento */
  background-position: center; /* Centraliza a imagem horizontalmente e verticalmente */
  background-repeat: no-repeat; /* Impede que a imagem se repita */
  height: 100vh; /* Define a altura para 100% da viewport height */
  width: 100%; /* Define a largura para 100% da viewport width */
  max-width: 100%; /* Garante a responsividade em telas menores */
  background-position-y: 0%; /* Ajuste a porcentagem para controlar o movimento vertical */

}

.text-white {
  text-align: center; /* Centraliza o texto horizontalmente */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%; /* Define a altura para 100% do contêiner pai (imagem de fundo) */
  padding-top: 20%; /* Espaçamento superior em relação à altura do contêiner pai */
  font-family: 'Roboto', sans-serif;

}

.text-white h2 {
  font-size: 2rem; /* Tamanho da fonte para telas maiores */
  margin: 0;
  text-shadow: 2px 2px 4px #000; /* Adicione um contorno preto ao texto h6 */



}

.text-white h6 {
  font-size: 20px; /* Tamanho da fonte para telas maiores */
  margin: 0;
  text-shadow: 2px 2px 4px #000; /* Adicione um contorno preto ao texto h6 */


}

@media (min-width: 768px) and (max-width: 1023px) {
  .text-white h2,
  .text-white h6 {
    font-size: 20px; /* Reduz o tamanho da fonte para telas menores */

}
}

@media (max-width: 768px) {
  .text-white h2,
  .text-white h6 {
    font-size: 16px; /* Reduz o tamanho da fonte para telas menores */
}
}

.highlight-text-bg {
  background-color: rgba(0, 0, 0, 0.3); /* Cor de fundo desejada */
  padding: 0.2rem; /* Espaçamento interno para destacar o texto */
  border-radius: 10px; /* Borda arredondada para destacar o texto */
}

/* Estilos para o botão responsivo */
.btn-responsive {
  padding: 10px 20px; /* Espaçamento interno do botão (ajuste conforme necessário) */
  font-size: 18px; /* Tamanho da fonte (ajuste conforme necessário) */
  min-width: 10px; /* Largura mínima do botão (ajuste conforme necessário) */
  white-space: nowrap; /* Impede a quebra de texto em várias linhas */
  border-radius: 20px;

}

/* Adicione regras de estilo para controlar o tamanho do botão em diferentes tamanhos de tela usando classes de Bootstrap */
@media (max-width: 767px) {
  .btn-responsive {
    padding: 8px 16px;
    font-size: 12px;
    min-width: 100px;
}
}


/* Estilo para o botão de pesquisa */
.form-search {
    margin-right: 5px; /* Adicione espaço à direita para separar do botão de login */
}

/* Estilo para o botão de login */
.form-login {
    background-color: #007BFF; /* Cor de fundo azul */
    color: #fff; /* Cor do texto branco */
    border: none; /* Remova a borda do botão */

}
.form-cadastro{
  margin-right: 5px; /* Adiciona espaço à direita para separar do botão de login */


}

/* Estilo para o ícone de lupa */
.form-icon {
    color: #fff; /* Cor do ícone branco */
}

.heading{
    text-align:center;
    font-size:32px;
    color:white;
    font-weight:900;
    font-style:italic;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    margin-left:200px;
    margin-bottom:1rem;
}

/* Estilos para a classe "card" */
.custom-card {
    width: 18rem;
    box-shadow:3px 3px 3px 3px white;
    border-radius: 20px;
    margin-right:2rem;
    margin-bottom:1rem;
    display:block;
}

/* Estilos para a classe "custom-card-body" */
.custom-card-body {
    padding: 1rem;
}

/* Estilos para a classe "custom-card-title" */
.custom-card-title {
    font-size: 1.5rem;
    margin-bottom:1rem;
    text-align:left;
    color:white;
}

/* Estilos para a classe "custom-card-link" */
.custom-card-link {
    color:white;
    text-decoration: none;
}

.certificado{
    border-radius:1rem;
    align-items:center;
    margin-left:60px;
    width:100px;
}

#cardCaracteristicas{
   background-color:white;
}

.custom-card-text{
    font-size:18px;
    font-style:normal;
    font-weight:400;
}

.cardTitleCarcteristicas{
    font-size: 1.5rem;
    margin-bottom:1rem;
    text-align:center;
    color:blue;
}


/* Estilos para dispositivos com largura de tela menor que 768px (tablets e celulares) */
@media (max-width: 768px) {
  body {
    background: linear-gradient(var(--bg-cor));
    height: auto; /* Remova a altura fixa para ajustar automaticamente ao conteúdo */
    box-sizing: border-box;
}

.corpo {
    background-color: #1518c0;
}

#intro-example.bg-image2 {
    background-image: url('/img/perso2.jpg');
    background-size: 100%; /* Faz a imagem cobrir todo o elemento */
    background-position: center; /* Centraliza a imagem horizontalmente e verticalmente */
    background-repeat: no-repeat; /* Impede que a imagem se repita */
    height: 100vh; /* Define a altura para 100% da viewport height */
    width: 100%; /* Define a largura para 100% da viewport width */
    max-width: 100%; /* Garante a responsividade em telas menores */
    background-position-y: 0%; /* Ajuste a porcentagem para controlar o movimento vertical */
    margin-bottom: -300px;

}
.heading {
    text-align: center; /* Centralizar o texto */
    font-size: 22px;
    color: white;
    font-weight: 600;
    font-style: italic;
    margin: 20px;

}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centralizar os cards horizontalmente */
    margin-left: 0; /* Remova a margem à esquerda */
    margin-right: 0; /* Remova a margem à direita */
    margin-bottom: 1rem;
}

/* Estilos para a classe "card" */
.custom-card {
    width: 100%; /* Faça com que os cards ocupem 100% da largura da tela */
    box-shadow: 3px 3px 3px 3px white;
    border-radius: 20px;
    margin-right: 0; /* Remova a margem à direita */
    margin-bottom: 1rem;
    margin-top: 30px; /* Adicione um espaçamento superior para levantar os cards */
    display: block;
    margin: 30px;
}

/* Estilos para a classe "custom-card-title" */
.custom-card-title {
    text-align: center; /* Centralizar o título do card */
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: white;
}

#cardLateral{
  display: flex;
  flex-wrap: wrap;
  margin-top:100px;
}

}

@media (min-width: 768px) and (max-width: 1024px) {
  body {
    background: linear-gradient(var(--bg-cor));
    height: auto; /* Remova a altura fixa para ajustar automaticamente ao conteúdo */
    box-sizing: border-box;
}

.corpo {
    background-color: #1518c0;
}

#intro-example.bg-image2 {
    background-image: url('/img/perso2.jpg');
    background-size: 100%; /* Faz a imagem cobrir todo o elemento */
    background-position: center; /* Centraliza a imagem horizontalmente e verticalmente */
    background-repeat: no-repeat; /* Impede que a imagem se repita */
    height: 100vh; /* Define a altura para 100% da viewport height */
    width: 100%; /* Define a largura para 100% da viewport width */
    max-width: 100%; /* Garante a responsividade em telas menores */
    background-position-y: 0%; /* Ajuste a porcentagem para controlar o movimento vertical */
    margin-bottom: -100px;

}
.heading {
    text-align: center; /* Centralizar o texto */
    font-size: 30px;
    color: white;
    font-weight: 600;
    font-style: italic;
    margin: 20px;

}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centralizar os cards horizontalmente */
    margin-left: 0; /* Remova a margem à esquerda */
    margin-right: 0; /* Remova a margem à direita */
    margin-bottom: 1rem;
}

/* Estilos para a classe "card" */
.custom-card {
    width: 100%; /* Faça com que os cards ocupem 100% da largura da tela */
    box-shadow: 3px 3px 3px 3px white;
    border-radius: 20px;
    margin-right: 0; /* Remova a margem à direita */
    margin-bottom: 1rem;
    margin-top: 30px; /* Adicione um espaçamento superior para levantar os cards */
    display: block;
    margin: 30px;
}

/* Estilos para a classe "custom-card-title" */
.custom-card-title {
    text-align: center; /* Centralizar o título do card */
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: white;
}

#cardLateral{
  display: flex;
  flex-wrap: wrap;
  margin-top:100px;
}

}

#cardLateral{
    color:white;
    bottom:110px;
    display:flex;
    border-radius:1rem;
    position:relative;
}