
:root{
    --bg-cor:45deg,#0762d9,  #3e236b 80%;

}
.container-customizado{
    height: 100vh;
    background: linear-gradient(var(--bg-cor));
    margin-top: 60px;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y:  visible !important;
}
.container-customizado::before {
    content: "";
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url('/img/img-cadastro.jpg') lightgray 50% / cover no-repeat; 
    mix-blend-mode: color-dodge;
    opacity: 0.5; 
    pointer-events: none;
  }

  .preco-card{
    font-size: 2rem;
  }

  .metodo-pagamento-item:hover{
    border-bottom:4px solid #0762d9;
  }
  
  .cadastro6{
    margin-top: 300px;
  }