@import url("other-stylesheet.css");
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Montserrat:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;1,100;1,200;1,300;1,400&family=Open+Sans:wght@400;700&family=Roboto:ital,wght@1,900&display=swap');
@import url(css/login/login.css);

:root {
  --bg-cor: 150deg, #0762d9, #3e236b;
  --cor-titulo: #40578c;
  --cor-botao: #4c66a5;
}


  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .fade-in {
    animation: fadeIn 5s;
  }
  

  /* Estilos para o botão */
  .btn {
    color: #fff; /* Cor do texto branco */
    background:linear-gradient(var(--bg-cor));
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px; /* Raio inicial dos cantos do botão */
    transition: border-radius 0.3s; /* Transição suave de 0.3 segundos para a propriedade border-radius */
  }
  .btn-warning{
  background-color: #ecc100;
  color:#000;
  text-decoration: none;

  }
  .btn-warning:hover{
    border-radius: 100px; /* Raio maior ao passar o mouse */
    background:orange;
  }

  /* Estilos para o botão ao passar o mouse */
  .btn:hover {
    border-radius: 50px; /* Raio maior ao passar o mouse */
  }

  .btn-inscreva-se{
  color: #fff;
  font-size: 20px;
  background-color: #ecc100;
  border-radius: 100px; /* Raio maior ao passar o mouse */

  }

  .btn-inscreva-se:hover{
    background:orange;
  }

  .card.text-image-cabecalho h3.card-title {
    color: #fff; /* Cor do título */
    font-size: 30px; /* Tamanho da fonte do título */
  }
  
  .card.text-image-cabecalho h6.card-text {
    color: #fff; /* Cor do texto secundário */
    font-size: 25px; /* Tamanho da fonte do texto secundário */
  }
  
  .card.text-image-cabecalho {
    box-shadow: none; /* Remover a sombra */
    border: none; /* Remover a borda */
  }

body{
  background:linear-gradient(var(--bg-cor));
  
 
}



.corpo {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/img/imagem8.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff; /* Cor do texto branco */
  font-size: 35px; /* Tamanho do texto maior */
  padding: 5px; /* Espaçamento interno de 0px */
  text-align: justify;
  height: auto; /* Alterado para altura automática para se ajustar ao conteúdo */
  padding: 50px 0; /* Adicionado preenchimento para melhorar o espaçamento do conteúdo */

}

.parallax-bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/img/imagem3.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: auto; /* Alterado para altura automática para se ajustar ao conteúdo */
  padding: 50px 0; /* Adicionado preenchimento para melhorar o espaçamento do conteúdo */  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ecc100; /* Cor do texto, ajuste conforme necessário */
  text-shadow: 2px 1px 1px  #000; /* Cor e tamanho do contorno */
  font-weight: bold;
  font-size: 24px;

}
.parallax-bg .icone-midia-social i {
  color: #ecc100; 
}


.parallax-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/img/cursos.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: auto; 
  padding: 50px 0; /* Adicionado preenchimento para melhorar o espaçamento do conteúdo */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ecc100; /* Cor do texto*/
  text-shadow: 2px 1px 1px  #000; /* Cor e tamanho do contorno */
  font-weight: bold;
  font-size: 24px;

}

.parallax-time {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('/img/equipebg.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: auto; /* Alterado para altura automática para se ajustar ao conteúdo */
  padding: 50px 0; /* Adicionado preenchimento para melhorar o espaçamento do conteúdo */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff; /* Cor do texto */
  text-shadow: 2px 1px 1px #000; /* Cor e tamanho do contorno */
  font-weight: bold;
}

.parallax-sobre {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url('/img/img_lampada.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: auto; /* Alterado para altura automática para se ajustar ao conteúdo */
  padding: 50px 0; /* Adicionado preenchimento para melhorar o espaçamento do conteúdo */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.parallax-time h2 {
  margin-bottom: 2rem; /* Ajuste de margem inferior para o cabeçalho */
}

.team-member {
  margin-bottom: 30px; /* Espaçamento entre membros da equipe */
}

.team-member img {
  width: 100%; /* Ajuste a largura da imagem para ocupar 100% do contêiner pai */
}

.social-icons {
  margin-top: 20px; /* Espaçamento superior para ícones sociais */
}

/* Adicione regras de mídia para ajustar estilos em tamanhos de tela menores */
@media (max-width: 768px) {
  .parallax-time {
      padding: 30px 0; /* Reduza o preenchimento em telas menores */
  }

  .team-member {
      margin-bottom: 20px; /* Reduza o espaçamento entre membros da equipe em telas menores */
  }
}

/* Adicione regras de mídia para ajustar estilos em tamanhos de tela menores */
@media (max-width: 768px) {
  .parallax-section{
      padding: 30px 0; /* Reduza o preenchimento em telas menores */
      height: auto;
  }


}











.highlight-text-bg {
  background: linear-gradient(45deg, rgba(7,98,217,0.3), rgba(62,35,107,0.3));
  padding: 5px; /* Espaçamento interno para destacar o texto */
  border-radius: 15px; /* Borda arredondada para destacar o texto */
}











  .container-header {
    color: #ffffff; 
    padding: 20px; 
    margin-bottom:30px;
  
  }
  .card-home {
    border-radius: 20px;
    border: 1px solid white; /* Adiciona uma borda branca */
    box-shadow:3px 3px 3px 3px white;
    border-radius: 20px;
    background: linear-gradient(var(--bg-cor)); 
    color: #fff;
    text-align: center;
  }
  
  
  .icone-link  {
      width: 50px;
      color: #fff;
      margin-bottom: 10px;
      margin-top: 10px;
     } 
      

.cards{
    display: flex;
    flex-wrap: wrap;
    margin-left:120px;
    margin-bottom:1rem;
    text-align: justify;
}

/* Estilos para a classe "card" */
.custom-card {
    width: 18rem;
    box-shadow:3px 3px 3px 3px white;
    border-radius: 20px;
    margin-right:2rem;
    margin-bottom:1rem;
    display:block;
}

/* Estilos para a classe "custom-card-body" */
.custom-card-body {
    padding: 1rem;
}

/* Estilos para a classe "custom-card-title" */
.custom-card-title {
    font-size: 1.5rem;
    margin-bottom:1rem;
    text-align:left;
    color:white;
}

/* Estilos para a classe "custom-card-link" */
.custom-card-link {
    color:white;
    text-decoration: none;
}





.custom-card-text{
    font-size:18px;
    font-style:normal;
    font-weight:400;
    text-align: justify;
}


/* Sobre Nós */

.text-anim {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
}

.highlight {
  background: linear-gradient(var(--bg-cor)); 
  padding: 0 5px; /* Adicione espaçamento interno para melhorar o destaque */
}

.card-sobre{
  border-radius: 20px;
  border: 1px solid #000; /* Adiciona uma borda branca */
  box-shadow:3px 3px 3px 3px #000;
  border-radius: 20px;
  color: #000;
}

.card-text{
  text-align: justify;
  align-items: center;
}


/* Estilização para o ícone Missão */
.card-body i.fas.fa-record-vinyl {
  font-size: 2rem; /* Tamanho do ícone */
  color: #ecc100; /* Cor do texto*/
}

/* Estilização para o ícone Visão */
.card-body i.far.fa-eye{
  font-size: 2rem; /* Tamanho do ícone */
  color: #ecc100; /* Cor do texto*/
}
/* Estilização para o ícone Valores */
.card-body i.fas.fa-star{
  font-size: 2rem; /* Tamanho do ícone */
  color: #ecc100; /* Cor do texto*/
}

.text-white {
  color: white;
}







 

/* Estilos para telas com no máximo 480px */


@media (max-width: 480px) {
  body{
    overflow-x: hidden;
  }
  footer{
    overflow-x: hidden;
  }
}




@media (max-width: 600px) {
 .lista-rodape{
    flex-direction: column;

  }

}


/* Estilos para telas menores que 576 pixels */
@media (max-width: 580px) {
    .container-header h2,
    .container-header h3,
    .container-header h4,
    .container-header p {
      font-size: 0.8rem; /* Ajuste o tamanho da fonte para telas menores */
    }
  }

 

  @media (max-width: 350px) {
    /* Ocultar texto dentro da imagem em telas pequenas */
    .card.text-image-cabecalho h3.card-title,
    .card.text-image-cabecalho h6.card-text {
      display: none;
    }
  
    /* Ajustar posição do botão */
    .card.text-image-cabecalho a.btn-responsive {
      font-size: 8px; /* Tamanho da fonte do botão */
      margin-top: 30px !important; /* Adicionando !important para garantir que a regra seja aplicada */
    }
  }
  
  
  
  


 @media (max-width: 580px) {
  /* Estilos para o texto dentro da imagem */
  .card.text-image-cabecalho h3.card-title {
      color: #fff; /* Cor do título */
      font-size: 10px; /* Tamanho da fonte do título */
    }
    
    .card.text-image-cabecalho h6.card-text {
      color: #fff; /* Cor do texto secundário */
      font-size: 10px; /* Tamanho da fonte do texto secundário */
    }
    .card.text-image-cabecalho a.btn-responsive {
      font-size: 10px; /* Tamanho da fonte do botão */
   }
   }
/* Estilos para telas com no máximo 768px */
@media (max-width: 768px) {


  /* Estilos para os cards na seção principal */
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centraliza os cards horizontalmente */
    margin-top: 10px;
  }

  .custom-card {
    width: calc(50% - 20px); /* 50% da largura, menos o espaçamento entre os cards */
    margin: 10px; /* Espaçamento externo entre os cards */
    padding: 20px; /* Adiciona espaçamento interno para os cards */
  }

  /* Estilos para a seção do corpo */
  .corpo {
    padding: 20px;
  }

  /* Estilos para os cards na seção do corpo */
  .custom-card-title {
    text-align: center;
    font-size: 18px; /* Tamanho de fonte semelhante para todos os títulos de cards */
  }

  .custom-card-text {
    text-align: center;
    font-size: 14px; /* Tamanho de fonte semelhante para todos os textos de cards */
  }

  .btn-responsive {
    margin-top: 20px;
  }

  
}

 /* Estilos para dispositivos com largura de tela menor que 768px (tablets e celulares) */
 @media (max-width: 768px) {
  
    






.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centralizar os cards horizontalmente */
    margin-left: 0; /* Remova a margem à esquerda */
    margin-right: 0; /* Remova a margem à direita */
    margin-bottom: 1rem;
}

/* Estilos para a classe "card" */
.custom-card {
    width: 100%; /* Faça com que os cards ocupem 100% da largura da tela */
    box-shadow: 3px 3px 3px 3px white;
    border-radius: 20px;
    margin-right: 0; /* Remova a margem à direita */
    margin-bottom: 1rem;
    margin-top: 30px; /* Adicione um espaçamento superior para levantar os cards */
    display: block;
    margin: 30px;
}

/* Estilos para a classe "custom-card-title" */
.custom-card-title {
    text-align: center; /* Centralizar o título do card */
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: white;
}

#cardLateral{
  display: flex;
  flex-wrap: wrap;
  margin-top:100px;
}

}


  
@media (max-width: 768px) {
  .text-white h2,
  .text-white h6 {
    font-size: 16px; /* Reduz o tamanho da fonte para telas menores */
}
}

/* Adicione regras de estilo para controlar o tamanho do botão em diferentes tamanhos de tela */
@media (max-width: 767px) {
  .btn-responsive {
    padding: 8px 16px;
    font-size: 12px;
    min-width: 100px;
}
}

/* Estilos para dispositivos com largura de tela menor que 768px (tablets e celulares) */
@media (max-width: 768px) {
  






.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centralizar os cards horizontalmente */
    margin-left: 0; /* Remova a margem à esquerda */
    margin-right: 0; /* Remova a margem à direita */
    margin-bottom: 1rem;
}

/* Estilos para a classe "card" */
.custom-card {
    width: 100%; /* Faça com que os cards ocupem 100% da largura da tela */
    box-shadow: 3px 3px 3px 3px white;
    border-radius: 20px;
    margin-right: 0; /* Remova a margem à direita */
    margin-bottom: 1rem;
    margin-top: 30px; /* Adicione um espaçamento superior para levantar os cards */
    display: block;
    margin: 30px;
}

/* Estilos para a classe "custom-card-title" */
.custom-card-title {
    text-align: center; /* Centralizar o título do card */
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: white;
}

#cardLateral{
  display: flex;
  flex-wrap: wrap;
  margin-top:100px;
}

}

@media (min-width: 768px) and (max-width: 1024px) {
  




.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centralizar os cards horizontalmente */
    margin-left: 0; /* Remova a margem à esquerda */
    margin-right: 0; /* Remova a margem à direita */
    margin-bottom: 1rem;
}

/* Estilos para a classe "card" */
.custom-card {
    width: 100%; /* Faça com que os cards ocupem 100% da largura da tela */
    box-shadow: 3px 3px 3px 3px white;
    border-radius: 20px;
    margin-right: 0; /* Remova a margem à direita */
    margin-bottom: 1rem;
    margin-top: 30px; /* Adicione um espaçamento superior para levantar os cards */
    display: block;
    margin: 30px;
}

/* Estilos para a classe "custom-card-title" */
.custom-card-title {
    text-align: center; /* Centralizar o título do card */
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: white;
}

#cardLateral{
  display: flex;
  flex-wrap: wrap;
  margin-top:100px;
}

}

#cardLateral{
    color:white;
    bottom:110px;
    display:flex;
    border-radius:1rem;
    position:relative;
}


.btn-white {
  background-color: white;
  color: black; /* Text color */
}




  /* Estilos para telas com no máximo 992px */
@media (max-width: 992px) {
  body {
    padding-top: 10px;
  }

 

 



  .custom-card {
    width: calc(100% - 20px); 
    margin: 10px;
    padding: 20px;
  }

  .corpo {
    padding: 20px;
  }

  .custom-card-title {
    text-align: center;
    font-size: 18px;
  }

  .custom-card-text {
    text-align: center;
    font-size: 14px;
  }

  

 
}

