  @import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Montserrat:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;1,100;1,200;1,300;1,400&family=Open+Sans:wght@400;700&family=Roboto:ital,wght@1,900&display=swap');

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @media screen and (max-width:600px) {
    .lista-rodape{
      flex-direction: column;
    }
    footer{
      overflow-x: hidden;
    }
    .rodape1{
      overflow-x: hidden;
    }
  }
  .fade-in {
    animation: fadeIn 5s;
  }

  /* Estilos para o botão */
  .btn {
    color: #ffffff; /* Cor do texto branco */
    background:linear-gradient(var(--bg-cor));
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px; /* Raio inicial dos cantos do botão */
    border-color: #fff;
    transition: border-radius 0.3s; /* Transição suave de 0.3 segundos para a propriedade border-radius */
  }
  .btn-warning{
    background-color: #ecc100;
    color:#000;
    text-decoration: none;

  }
  .btn-warning:hover{
    border-radius: 100px; /* Raio maior ao passar o mouse */
    background:orange;
  }

  /* Estilos para o botão ao passar o mouse */
  .btn:hover {
    border-radius: 50px; /* Raio maior ao passar o mouse */
  }

  
  @import url(css/login/login.css);
  :root{
    --bg-cor:150deg,#0762d9,  #3e236b;
    --cor-titulo: #40578c;
    --cor-botao:   #4c66a5;
  }

  body{
    background:linear-gradient(var(--bg-cor));
    height: 100vh;
    box-sizing: border-box;

  }

  .corpo{
    background:linear-gradient(var(--bg-cor));
  }

  .corpo {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('img/Imagem.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff; /* Cor do texto branco */
    font-size: 35px; /* Tamanho do texto maior */
    padding: 5px; /* Espaçamento interno de 0px */
    text-align: justify;

  }



/* Estilo para o link do menu */
.navbar-nav .nav-item .nav-link {
  color: #000; /* Cor padrão do texto */
  transition: color 0.3s; /* Efeito de transição suave na cor */
}

/* Estilo para o bloco azul ao passar o mouse sobre o menu */
.navbar-nav .nav-item:hover {
  background-color: #0762d9; /* Cor de fundo azul durante o hover */
  border-radius: 10px; /* Borda arredondada */

}

/* Estilo para o link do menu no hover */
.navbar-nav .nav-item .nav-link:hover {
  color: #fff; /* Cor branca durante o hover */
}

.menu-item {
  font-size: 15px; /* Tamanho de fonte desejado */
  font-family: 'Roboto', sans-serif;


}

header {
  position: relative;
}

.navbar {
  z-index: 1; /* Coloca o menu sobre a imagem */
}

#intro-example.bg-image2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('img/Imagem.jpg');
  background-size: 100%; /* Faz a imagem cobrir todo o elemento */
  background-position: center; /* Centraliza a imagem horizontalmente e verticalmente */
  background-repeat: no-repeat; /* Impede que a imagem se repita */
  height: 100vh; /* Define a altura para 100% da viewport height */
  width: 100%; /* Define a largura para 100% da viewport width */
  max-width: 100%; /* Garante a responsividade em telas menores */
  background-position-y: 0%; /* Ajuste a porcentagem para controlar o movimento vertical */

}

.text-white {
  text-align: center; /* Centraliza o texto horizontalmente */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%; /* Define a altura para 100% do contêiner pai (imagem de fundo) */
  padding-top: 20%; /* Espaçamento superior em relação à altura do contêiner pai */
  font-family: 'Roboto', sans-serif;

}

.text-white h2 {
  font-size: 2rem; /* Tamanho da fonte para telas maiores */
  margin: 0;
  text-shadow: 2px 2px 4px #000; /* Adicione um contorno preto ao texto h6 */



}

.text-white h6 {
  font-size: 20px; /* Tamanho da fonte para telas maiores */
  margin: 0;
  text-shadow: 2px 2px 4px #000; /* Adicione um contorno preto ao texto h6 */


}



.highlight-text-bg {
  background: linear-gradient(45deg, rgba(7,98,217,0.3), rgba(62,35,107,0.3));
  padding: 0.2rem; /* Espaçamento interno para destacar o texto */
  border-radius: 10px; /* Borda arredondada para destacar o texto */
}

/* Estilos para o botão responsivo */
.btn-responsive {
  padding: 10px 20px; /* Espaçamento interno do botão (ajuste conforme necessário) */
  font-size: 18px; /* Tamanho da fonte (ajuste conforme necessário) */
  min-width: 10px; /* Largura mínima do botão (ajuste conforme necessário) */
  white-space: nowrap; /* Impede a quebra de texto em várias linhas */
  border-radius: 20px;

}



/* Estilo para o botão de pesquisa */
.form-search {
  margin-right: 5px; /* Adicione espaço à direita para separar do botão de login */
}

/* Estilo para o botão de login */
.form-login {
  background-color: #007BFF; /* Cor de fundo azul */
  color: #fff; /* Cor do texto branco */
  border: none; /* Remova a borda do botão */

}
.form-cadastro{
  margin-right: 5px; /* Adiciona espaço à direita para separar do botão de login */


}

/* Estilo para o ícone de lupa */
.form-icon {
  color: #fff; /* Cor do ícone branco */
}

.heading{
  text-align:center;
  font-size:32px;
  color:white;
  font-weight:900;
  font-style:italic;
}

.cards{
  display: flex;
  flex-wrap: wrap;
  margin-left:200px;
  margin-bottom:1rem;
}

/* Estilos para a classe "card" */
.custom-card {
  width: 18rem;
  box-shadow:3px 3px 3px 3px white;
  border-radius: 20px;
  margin-right:2rem;
  margin-bottom:1rem;
  display:block;
}

/* Estilos para a classe "custom-card-body" */
.custom-card-body {
  padding: 1rem;
}

/* Estilos para a classe "custom-card-title" */
.custom-card-title {
  font-size: 1.5rem;
  margin-bottom:1rem;
  text-align:left;
  color:white;
}

/* Estilos para a classe "custom-card-link" */
.custom-card-link {
  color:white;
  text-decoration: none;
}

.certificado{
  border-radius:1rem;
  align-items:center;
  margin-left:60px;
  width:100px;
}

#cardCaracteristicas{
 background-color:white;
}

.custom-card-text{
  font-size:18px;
  font-style:normal;
  font-weight:400;
}







/* Estilos para o rodapé */
footer {
  background: linear-gradient(var(--bg-cor)); /* Cor de fundo do rodapé */
  color: #fff; /* Cor do texto do rodapé */
  padding: 10px 0; /* Espaçamento interno do rodapé */
}

/* Estilos para a lista de links no rodapé */
.list-unstyled li {
  margin-right: 20px; /* Espaçamento entre os itens da lista */
  margin-bottom: 10px; /* Espaçamento inferior dos itens da lista */
}

/* Estilos para os ícones de mídia social */
.rodape__item-midias-sociais {
  margin-right: 20px; /* Espaçamento entre os ícones de mídia social */
  margin-bottom: 10px; /* Espaçamento inferior dos ícones de mídia social */
}

/* Estilos para os ícones de mídia social com hover */
.rodape__item-midias-sociais i {
  font-size: 30px;
  color: #fff;
  transition: transform 0.2s;
}

.rodape__item-midias-sociais i:hover {
  transform: scale(1.5);
}

/* Estilos para o logotipo */
.logotipo {
  margin-bottom: 20px; /* Espaçamento inferior do logotipo */
}

/* Estilos para o texto de copyright */
p.copyright {
  margin: 0; /* Remova qualquer espaçamento inferior do texto de copyright */
}









/* Estilos para telas com no máximo 576px */
@media (max-width: 576px) {
  body {
    padding-top: 10px; /* Adiciona espaçamento para centralizar o conteúdo abaixo da barra de navegação */
  }

  /* Estilos para a seção de destaque */
  #intro-example {
    margin-top: 10px; /* Reduz a margem superior para aproximar os cards do hero */
    padding: 20px; /* Adiciona espaçamento interno para centralizar o conteúdo */
    text-align: justify;
  }

  .highlight-text-bg {
    padding: 10px;
    text-align: center; /* Centraliza o texto no destaque */
  }

  .btn-responsive {
    width: 100%; /* Faça o botão ocupar 100% da largura */
    margin-top: 10px;
    font-size: 14px; /* Tamanho de fonte semelhante para todos os botões */
  }

  /* Estilos para os cards na seção principal */
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centraliza os cards horizontalmente */
    margin-top: 10px;
  }

  .custom-card {
    width: calc(100% - 20px); /* 100% da largura, menos o espaçamento entre os cards */
    margin: 10px; /* Espaçamento externo entre os cards */
    padding: 20px; /* Adiciona espaçamento interno para os cards */
  }

  /* Estilos para a seção do corpo */
  .corpo {
    padding: 20px;
  }

  /* Estilos para os cards na seção do corpo */
  .custom-card-title {
    text-align: center;
    font-size: 18px; /* Tamanho de fonte semelhante para todos os títulos de cards */
  }

  .custom-card-text {
    text-align: center;
    font-size: 14px; /* Tamanho de fonte semelhante para todos os textos de cards */
  }

  .btn-responsive {
    margin-top: 20px;
  }

  /* Estilos para o rodapé */
  footer {
    padding: 20px;
  }

  .rodape__item-midias-sociais {
    margin-right: 10px;
  }
}



/* Estilos para telas com no máximo 768px */
@media (max-width: 768px) {
  body {
    padding-top: 10px; /* Adiciona espaçamento para centralizar o conteúdo abaixo da barra de navegação */
  }

  /* Estilos para a seção de destaque */
  #intro-example {
    margin-top: 10px; /* Reduz a margem superior para aproximar os cards do hero */
    padding: 20px; /* Adiciona espaçamento interno para centralizar o conteúdo */
    text-align: justify;
  }

  .highlight-text-bg {
    padding: 10px;
    text-align: center; /* Centraliza o texto no destaque */
  }

  .btn-responsive {
    width: 100%; /* Faça o botão ocupar 100% da largura */
    margin-top: 10px;
    font-size: 14px; /* Tamanho de fonte semelhante para todos os botões */
  }

  /* Estilos para os cards na seção principal */
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centraliza os cards horizontalmente */
    margin-top: 10px;
  }

  .custom-card {
    width: calc(50% - 20px); /* 50% da largura, menos o espaçamento entre os cards */
    margin: 10px; /* Espaçamento externo entre os cards */
    padding: 20px; /* Adiciona espaçamento interno para os cards */
  }

  /* Estilos para a seção do corpo */
  .corpo {
    padding: 20px;
  }

  /* Estilos para os cards na seção do corpo */
  .custom-card-title {
    text-align: center;
    font-size: 18px; /* Tamanho de fonte semelhante para todos os títulos de cards */
  }

  .custom-card-text {
    text-align: center;
    font-size: 14px; /* Tamanho de fonte semelhante para todos os textos de cards */
  }

  .btn-responsive {
    margin-top: 20px;
  }

  /* Estilos para o rodapé */
  footer {
    padding: 20px;
  }

  .rodape__item-midias-sociais {
    margin-right: 10px;
  }
}

/* Estilos para dispositivos com largura de tela menor que 768px (tablets e celulares) */
@media (max-width: 768px) {
  body {
    background: linear-gradient(var(--bg-cor));
    height: auto; /* Remova a altura fixa para ajustar automaticamente ao conteúdo */
    box-sizing: border-box;
  }

  .corpo {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('img/Imagem.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff; /* Cor do texto branco */
    font-size: 35px; /* Tamanho do texto maior */
    padding: 5px; /* Espaçamento interno de 0px */
    text-align: justify;

  }

  #intro-example.bg-image2 {
    background-image: url('img/Imagem.jpg');
    background-size: 100%; /* Faz a imagem cobrir todo o elemento */
    background-position: center; /* Centraliza a imagem horizontalmente e verticalmente */
    background-repeat: no-repeat; /* Impede que a imagem se repita */
    height: 100vh; /* Define a altura para 100% da viewport height */
    width: 100%; /* Define a largura para 100% da viewport width */
    max-width: 100%; /* Garante a responsividade em telas menores */
    background-position-y: 0%; /* Ajuste a porcentagem para controlar o movimento vertical */
    margin-bottom: -300px;

  }
  .heading {
    text-align: center; /* Centralizar o texto */
    font-size: 22px;
    color: white;
    font-weight: 600;
    font-style: italic;
    margin: 20px;

  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centralizar os cards horizontalmente */
    margin-left: 0; /* Remova a margem à esquerda */
    margin-right: 0; /* Remova a margem à direita */
    margin-bottom: 1rem;
  }

/* Estilos para a classe "card" */
.custom-card {
  width: 100%; /* Faça com que os cards ocupem 100% da largura da tela */
  box-shadow: 3px 3px 3px 3px white;
  border-radius: 20px;
  margin-right: 0; /* Remova a margem à direita */
  margin-bottom: 1rem;
  margin-top: 30px; /* Adicione um espaçamento superior para levantar os cards */
  display: block;
  margin: 30px;
}

/* Estilos para a classe "custom-card-title" */
.custom-card-title {
  text-align: center; /* Centralizar o título do card */
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: white;
}

#cardLateral{
  display: flex;
  flex-wrap: wrap;
  margin-top:100px;
}

}



@media (max-width: 768px) {
  .text-white h2,
  .text-white h6 {
    font-size: 16px; /* Reduz o tamanho da fonte para telas menores */
  }
}

/* Adicione regras de estilo para controlar o tamanho do botão em diferentes tamanhos de tela usando classes de Bootstrap */
@media (max-width: 767px) {
  .btn-responsive {
    padding: 8px 16px;
    font-size: 12px;
    min-width: 100px;
  }
}

/* Estilos para dispositivos com largura de tela menor que 768px (tablets e celulares) */
@media (max-width: 768px) {
  body {
    background: linear-gradient(var(--bg-cor));
    height: auto; /* Remova a altura fixa para ajustar automaticamente ao conteúdo */
    box-sizing: border-box;
  }

  .corpo {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('img/Imagem.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff; /* Cor do texto branco */
    font-size: 35px; /* Tamanho do texto maior */
    padding: 5px; /* Espaçamento interno de 0px */
    text-align: justify;

  }

  #intro-example.bg-image2 {
    background-image: url('img/Imagem.jpg');
    background-size: 100%; /* Faz a imagem cobrir todo o elemento */
    background-position: center; /* Centraliza a imagem horizontalmente e verticalmente */
    background-repeat: no-repeat; /* Impede que a imagem se repita */
    height: 100vh; /* Define a altura para 100% da viewport height */
    width: 100%; /* Define a largura para 100% da viewport width */
    max-width: 100%; /* Garante a responsividade em telas menores */
    background-position-y: 0%; /* Ajuste a porcentagem para controlar o movimento vertical */
    margin-bottom: -300px;

  }
  .heading {
    text-align: center; /* Centralizar o texto */
    font-size: 22px;
    color: white;
    font-weight: 600;
    font-style: italic;
    margin: 20px;

  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centralizar os cards horizontalmente */
    margin-left: 0; /* Remova a margem à esquerda */
    margin-right: 0; /* Remova a margem à direita */
    margin-bottom: 1rem;
  }

/* Estilos para a classe "card" */
.custom-card {
  width: 100%; /* Faça com que os cards ocupem 100% da largura da tela */
  box-shadow: 3px 3px 3px 3px white;
  border-radius: 20px;
  margin-right: 0; /* Remova a margem à direita */
  margin-bottom: 1rem;
  margin-top: 30px; /* Adicione um espaçamento superior para levantar os cards */
  display: block;
  margin: 30px;
}

/* Estilos para a classe "custom-card-title" */
.custom-card-title {
  text-align: center; /* Centralizar o título do card */
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: white;
}

#cardLateral{
  display: flex;
  flex-wrap: wrap;
  margin-top:100px;
}

}

@media (min-width: 768px) and (max-width: 1024px) {
  body {
    background: linear-gradient(var(--bg-cor));
    height: auto; /* Remova a altura fixa para ajustar automaticamente ao conteúdo */
    box-sizing: border-box;
  }

  .corpo {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('img/Imagem.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff; /* Cor do texto branco */
    font-size: 35px; /* Tamanho do texto maior */
    padding: 5px; /* Espaçamento interno de 0px */
    text-align: justify;

  }
  #intro-example.bg-image2 {
    background-image: url('img/Imagem.jpg');
    background-size: 100%; /* Faz a imagem cobrir todo o elemento */
    background-position: center; /* Centraliza a imagem horizontalmente e verticalmente */
    background-repeat: no-repeat; /* Impede que a imagem se repita */
    height: 100vh; /* Define a altura para 100% da viewport height */
    width: 100%; /* Define a largura para 100% da viewport width */
    max-width: 100%; /* Garante a responsividade em telas menores */
    background-position-y: 0%; /* Ajuste a porcentagem para controlar o movimento vertical */
    margin-bottom: -100px;

  }
  .heading {
    text-align: center; /* Centralizar o texto */
    font-size: 30px;
    color: white;
    font-weight: 600;
    font-style: italic;
    margin: 20px;

  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centralizar os cards horizontalmente */
    margin-left: 0; /* Remova a margem à esquerda */
    margin-right: 0; /* Remova a margem à direita */
    margin-bottom: 1rem;
  }

/* Estilos para a classe "card" */
.custom-card {
  width: 100%; /* Faça com que os cards ocupem 100% da largura da tela */
  box-shadow: 3px 3px 3px 3px white;
  border-radius: 20px;
  margin-right: 0; /* Remova a margem à direita */
  margin-bottom: 1rem;
  margin-top: 30px; /* Adicione um espaçamento superior para levantar os cards */
  display: block;
  margin: 30px;
}

/* Estilos para a classe "custom-card-title" */
.custom-card-title {
  text-align: center; /* Centralizar o título do card */
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: white;
}

#cardLateral{
  display: flex;
  flex-wrap: wrap;
  margin-top:100px;
}

}

#cardLateral{
  color:white;
  bottom:110px;
  display:flex;
  border-radius:1rem;
  position:relative;
}


@media (min-width: 768px) and (max-width: 1024px) {
  body {
    background: linear-gradient(var(--bg-cor));
    height: auto; /* Remova a altura fixa para ajustar automaticamente ao conteúdo */
    box-sizing: border-box;
  }

  .corpo {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('img/Imagem.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff; /* Cor do texto branco */
    font-size: 35px; /* Tamanho do texto maior */
    padding: 5px; /* Espaçamento interno de 0px */
    text-align: justify;

  }
  #intro-example.bg-image2 {
    background-image: url('img/Imagem.jpg');
    background-size: 100%; /* Faz a imagem cobrir todo o elemento */
    background-position: center; /* Centraliza a imagem horizontalmente e verticalmente */
    background-repeat: no-repeat; /* Impede que a imagem se repita */
    height: 100vh; /* Define a altura para 100% da viewport height */
    width: 100%; /* Define a largura para 100% da viewport width */
    max-width: 100%; /* Garante a responsividade em telas menores */
    background-position-y: 0%; /* Ajuste a porcentagem para controlar o movimento vertical */
    margin-bottom: -100px;

  }
  .heading {
    text-align: center; /* Centralizar o texto */
    font-size: 30px;
    color: white;
    font-weight: 600;
    font-style: italic;
    margin: 20px;

  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centralizar os cards horizontalmente */
    margin-left: 0; /* Remova a margem à esquerda */
    margin-right: 0; /* Remova a margem à direita */
    margin-bottom: 1rem;
  }

/* Estilos para a classe "card" */
.custom-card {
  width: 100%; /* Faça com que os cards ocupem 100% da largura da tela */
  box-shadow: 3px 3px 3px 3px white;
  border-radius: 20px;
  margin-right: 0; /* Remova a margem à direita */
  margin-bottom: 1rem;
  margin-top: 30px; /* Adicione um espaçamento superior para levantar os cards */
  display: block;
  margin: 30px;
}

/* Estilos para a classe "custom-card-title" */
.custom-card-title {
  text-align: center; /* Centralizar o título do card */
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: white;
}

#cardLateral{
  display: flex;
  flex-wrap: wrap;
  margin-top:100px;
}

}

#cardLateral{
  color:white;
  bottom:110px;
  display:flex;
  border-radius:1rem;
  position:relative;
}



/* Estilos para telas com no máximo 992px */
@media (max-width: 992px) {
  body {
    padding-top: 10px;
  }

  #intro-example {
    margin-top: 10px;
    padding: 20px;
    text-align: justify;
  }

  .highlight-text-bg {
    padding: 10px;
    text-align: center;
  }

  .btn-responsive {
    width: 100%;
    margin-top: 10px;
    font-size: 14px;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
  }

  .custom-card {
    width: calc(50% - 20px); /* Dois cards por linha, com espaçamento entre eles */
    margin: 10px;
    padding: 20px;
  }

  .corpo {
    padding: 20px;
  }

  .custom-card-title {
    text-align: center;
    font-size: 18px;
  }

  .custom-card-text {
    text-align: center;
    font-size: 14px;
  }

  .btn-responsive {
    margin-top: 20px;
  }

  footer {
    padding: 20px;
  }

  .rodape__item-midias-sociais {
    margin-right: 10px;
  }
}

